<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <!-- Include the Leaflet.js library -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/public/js/map.js" defer></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/weather">
          <img src="/public/2395608.png" width="60px" alt="Darina" />
        </a>
        <div class="ms-auto">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Weather</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/movie">Movie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/nasa">Nasa Daily</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- Add a form for city input and map selection -->
    <form id="weatherForm" action="/weather" method="post">
      <label for="inputType">Select Option:</label>
      <select id="inputType" name="inputType" onchange="selectInputType()">
        <option value="city">Input City</option>
        <option value="map">Select on Map</option>
      </select>

      <!-- Input for city -->
      <div id="cityInput">
        <label for="city">Enter City:</label>
        <input type="text" id="city" name="city" />
      </div>

      <!-- Map container -->
      <div id="mapInput" style="display: none">
        <p>Select a location on the map:</p>
        <div id="map" style="height: 400px; width: 100%"></div>
      </div>

      <!-- Hidden input fields for coordinates -->
      <input type="hidden" id="lat" name="lat" />
      <input type="hidden" id="lng" name="lng" />

      <button type="submit">Get Weather</button>
    </form>

  </body>
</html>
